body {
  margin: 0;
}

#app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#direction {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-evenly;
}

#colorInput {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;
}
